.marbles-wrapper {
  max-width: 500px;
  margin: 0px auto;
}

.add-box-wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.delete-all-boxes-wrapper {
  padding-top: 30px;
  border-top: 1px solid gray;
}

.box-button {
  cursor: pointer;
}
