.marble-box-item-wrapper {
  display: flex;
  align-items: center;
}

.buttons-and-count-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}

.delete-button {
  margin-left: 20px;
}
